# Ignore node_modules in backend
backend/node_modules/

# Ignore environment file in backend
backend/.env
frontend/.env.local
backend/book-store-7195c-firebase-adminsdk-jsi25-e5e576faf6.json
frontend/package-lock.json
frontend/node_modules/